<div class="container">
  <h1>All Flats</h1>
  <div class="row">
    <%= hidden_field_tag :hehe %>
    <% @flats.each do |flat| %>
      <div class="col-sm-6">
        <div class="card">
          <img src="<%= flat["imageUrl"] %>" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= flat["name"] %></h5>
            <p class="card-text"><%= flat["price"] %> <%= flat["priceCurrency"] %></p>
            <%= link_to("Voir", flat_path(flat["id"]), { class: "btn btn-primary" }) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
